/* PFR Theme 
*/
.account-masthead {
  background-color: rgb(92, 148, 36);

}

body {
  background-color: rgb(40, 56, 9);
}

.site-footer,
.masthead {
  background-color: rgb(40, 56, 9);
}
.header-image {
  margin: 5px 0;
}

.homepage .module-search .module-content {
  background-color: rgb(40, 56, 9);
}

.homepage .module-search .tags {
  background-color: rgb(22, 31, 5);
}

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary:active:hover
{
  background-color: rgb(139, 187, 52);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  filter: brightness(85%);
  background-color: rgb(139, 187, 52);
}

.btn-primary:active:focus {
  filter: brightness(60%);
  background-color: rgb(139, 187, 52);
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #739239;
}